.image-box{
    
    height: 50rem;
}
.nav-text{
    height: 2.7rem;
    
    border-radius: 0.3rem;
    
}
.nav-button{
    font-size: 1.1rem;
    background-color: rgb(155, 155, 58);
   
}
.nav-header-button{
    font-size: 1.23rem; width: 7rem;
}
.nav-text-inside{
    color: rgb(7, 69, 123);
    
}

.photo-scroll{
    
}

.image-box{
    width: 10rem;
   
}

.border1{
    /*margin-top: 1rem;*/
    margin-top: 1rem;
    margin-bottom: 1rem;

    border-top: inset 4px rgb(253, 253, 253);
    border-bottom: outset 4px rgb(253, 253, 253);
    border-left: inset 4px rgb(253, 253, 253);
    border-right: outset 4px rgb(253, 253, 253);
}
.form-text-box1{
    width: 20rem; height:3rem;
    border-radius: 0.5rem;
}
.form-text-box2{
    width: 22rem; height:15rem;
    border-radius: 0.5rem;
    resize: none;  
}
.submit-button{
    background-color: cornflowerblue; 
    margin-left: 3rem; 
    margin-top: -2rem; 
    margin-bottom: 1rem;
    width: 5.5rem; 
    height:2.5rem;
}
.footer-img{
    width: 1.5rem;
    margin: 0.4rem;
    margin-top: 1rem;
}