.header-text{
    width: 120px;
}
.vicky{
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.vicky a{
    text-decoration: none;
    font-size: 40px;
    font-weight: 600;
    color: crimson;
}
.vicky a:hover{
    color: #fff;
}

.image-box{
    height: 50rem;
}
.nav-text{
    height: 2.7rem;
    
    border-radius: 0.3rem;
    
}
.nav-button{
    font-size: 1.1rem;
    background-color:crimson;
    color: black;
   
}
.nav-header-button{
    font-size: 1.23rem; width: 7rem;
}
.nav-text-inside{
    color: crimson;
    
}
.bio{
    height: 160px;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
.bio #bio-name{
    margin-top: 4rem;
    color: crimson;
    font-weight: 900;
}

.photo-scroll,.footer{
    background: url('../images/bg-imageRow.jpg'); 
}
 
.image-prop{
    height: 30rem;
    border-radius: 0.7rem;
   
}

.border1, .photo-scroll{
    /*margin-top: 1rem;*/
    /* margin-top: 1rem;
    margin-bottom: 1rem; */

    border-top: inset 4px rgb(253, 253, 253);
    border-bottom: outset 4px rgb(253, 253, 253);
    border-left: inset 4px rgb(253, 253, 253);
    border-right: outset 4px rgb(253, 253, 253);
}
.contact-section{
    display: flex;
    background-position: fixed ;
   
}
.contact-label{
    color: crimson;
}
.contact-section, .bio{
    background: url('../images/bg-contact.jpg') repeat 0 0;
}
.form-text-box1{
    margin-bottom: 1rem;
    padding-left: 0.4rem;
    width: 20rem; height:3rem;
    border-radius: 0.2rem;
    border: 0.1px solid;
}
.form-text-box2{
    width: 22rem; height:15rem;
    border-radius: 0.5rem;
    resize: none;  
    padding: 0.5rem 0 0 0.5rem;
}
.submit-button{
    background-color:crimson; 
    color: white;
    margin-left: 3rem; 
    margin-top: -2rem; 
    margin-bottom: 1rem;
    width: 5.5rem; 
    height:2.5rem;
}
.nav-button:hover, .submit-button:hover{
    background-color: aliceblue;
    color: crimson;
}
.footer-img{
    width: 1.7rem;
    margin: 0.4rem;
    margin-top: 1rem;
}
